@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

#root {
  padding: 0px;
}

.App {
  font-family: "Poppins";
  font-size: 12px;
}

#user-form label {
  font-size: 14px;
}

#user-form input {
  font-size: 12px;
}

#user-form .form-group {
  text-align: center;
}

.card img {
  border-radius: 15px;
}
.card .card-title {
  font-size: 16px;
}

.card .card-text span {
  font-size: 12px;
}
